
@{
    ViewData["Title"] = "TeamDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2>Team Name</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">game single</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

<section class="game-single-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="game-single-content">
                    <div class="game-single-title mt-60 mb-30">
                        <h4>Team <span>Players</span></h4>
                    </div>
                    <div class="game-single-info mb-65" id="playerList">
                        
                    </div>
                    <div class="game-single-shape"><img src="~/theme/img/images/game_section_shape.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
