@model Wiz_eSports_Management.Models.Contact

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2>contact <span>info</span></h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">pages</a></li>
                            <li class="breadcrumb-item active" aria-current="page">contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- contact-area -->
<section class="contact-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="contact-map"></div>
            </div>
            <div class="col-lg-6 pl-45">
                <div class="section-title title-style-three mb-20">
                    <h2>CONTACT US ABOUT <span>PRESS</span></h2>
                </div>
                <div class="contact-info-list mb-40">
                    <ul>
                        @*<li><i class="fas fa-map-marker-alt"></i>Walking Park, Los Angeles, Brockland, USA</li>*@
                        @*<li><i class="fas fa-envelope"></i>info@cloux.com</li>*@
                        <li><i class="fas fa-map-marker-alt"></i><span><b>Address : </b></span>Nr.43, Bl.02, Ap.02, George Enescu, Craiova, Dolj, Romania</li>
                        <li><i class="fas fa-envelope-open"></i><span><b>Email : </b></span>Shadeez@yahoo.com</li>
                        <li><i class="fas fa-headphones"></i> <span><b>Phone : </b></span>+76 599 25 00</li>
                    </ul>
                </div>
                <div class="contact-form">
                    <form id="contact-form">
                        @*<textarea name="message" class="nopadding" style="resize:none" id="message" placeholder="Write Message..."></textarea>*@
                        @Html.TextAreaFor(m => m.Message, new { @placeholder = "Write Message...", @id = "message", @class = "nopadding", @autocomplete = "off", @style = "resize:none", @validationmessage = "Required Field", @required = "required" })
                        <div class="row">
                            <div class="col-md-6">
                                @*<input type="text" class="nopadding" placeholder="Your Name">*@
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Your Name", @id = "txtName", @class = "nopadding", @autocomplete = "off", @validationmessage = "Required Field", @required = "required" })
                            </div>
                            <div class="col-md-6">
                                @*<input type="email" class="nopadding" placeholder="Your Mail">*@
                                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Your Mail", @id = "txtEmail", @class = "nopadding", @autocomplete = "off", @validationmessage = "Required Field", @required = "required" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <input type="file" placeholder="" id="ContactFile" name="ContactFile" class="frmcontrol">
                            </div>
                        </div>

                        <button>SUBMIT MESSAGE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-area-end -->
<!-- brand-area -->
<div class="brand-area lite-gray-bg pb-170 pt-120">
    <div class="container">
        <div class="row brand-active">
            <div class="col-xl-2">
                <div class="brand-item">
                    <img src="~/theme/img/brand/brand_logo01.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="brand-item">
                    <img src="~/theme/img/brand/brand_logo02.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="brand-item">
                    <img src="~/theme/img/brand/brand_logo03.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="brand-item">
                    <img src="~/theme/img/brand/brand_logo04.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="brand-item">
                    <img src="~/theme/img/brand/brand_logo05.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="brand-item">
                    <img src="~/theme/img/brand/brand_logo06.png" alt="">
                </div>
            </div>
            <div class="col-xl-2">
                <div class="brand-item">
                    <img src="~/theme/img/brand/brand_logo03.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-area-end -->

@section Scripts {
    <script>
        $(document).ready(function () {
            PageActive("liContact");
            $('#contact-form').submit(function (e) {
                e.preventDefault();
                showMask();
                debugger;
                let formData = new FormData(this);

                let files = $('#ContactFile')[0].files;

                var FileType = "";
                if (files.length > 0) {
                    FileType = $('#ContactFile')[0].files[0].type.split('/')[0];

                    if (FileType != "image") {
                        hideMask();
                        DisplayErrorModal('lblMessage', 'myModal', 'Invalid file type. Only images allowed.');
                    }
                    else {
                        for (var i = 0; i < files.length; i++) {
                            formData.append("contactPageFile", files[i]);
                        }
                    }
                }                

                $.ajax({
                    type: 'post',
                    url: '/Contact/ContactForm',
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        ClearControls('ContactForm');
                        hideMask();
                        if (result.status == 200) {
                            DisplaySuccessModal('lblMessage', 'myModal', 'Your inquiry has placed.');
                        }
                    },
                    error: function () {
                        //Failed
                    }
                });

            });
        });
    </script>
}