@model Wiz_eSports_Management.Models.UserLoginVM

@{
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
    @using Microsoft.Extensions.Configuration
    @inject IConfiguration configuration
    @using Microsoft.AspNetCore.Http;
    @using Wiz_eSports_Management.Common;
    @using DataAccessLayer.Model;

    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ISession _session = httpContextAccessor.HttpContext.Session;

    LoggedUser user = null;
    string ErrorMsg = "";
    if (_session != null && _session.Keys.Contains("loggedUserErrorMsg"))
    {
        user = _session.GetSession<LoggedUser>("loggedUserErrorMsg");
        ErrorMsg = "";
        if (user != null)
        {
            ErrorMsg = user.LoginError;
        }
    }
}

@*<div id="myDiv" data-value="@HttpContext.Current.Session["LoginError"]"></div>*@

<section class="game-manage-area game-mange-bg pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-form login-form">
                    <div id="user-login-form">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="password" class="form-control" id="txtPassword" placeholder="Password" />
                            </div>
                            <div class="col-md-12">
                                <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirm Password" />
                            </div>
                        </div>
                        <button type="submit" onclick="ResetPasswordSubmit()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


